html, body, #root {
  scroll-snap-type: y mandatory;
  z-index: -100;
  background-image: url("/public/assets/img/DiscordArt.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* fixed bg */
  background-attachment: fixed;
}
.sc-w {
  width: calc(50% - 1.2rem / 2);
}
@media (max-width: 640px) {
  .sc-w {
    width: 100%;
  }
}
